<!DOCTYPE html>
<head>
  <title>Index</title>
</head>
<body>
  <table>
    <tr>
      <th>id</th>
      <th>message</th>
      <th>code</th>
    </tr>
    <% tests.forEach(function(test){ %>
      <tr>
        <td><%= test.id %></td>
        <td><%= test.message %></td>
        <td><%= test.code %></td>
      </tr>
    <% }); %>
  </table>
</body>
